
.board {
    position: relative;
    width: 5em;
    height: 5em;
    border: 1px solid #CCC;
    border-radius: .5em;
}

    .board .piece {
        position: absolute;
    }

    .board .place {
        position: absolute;
        color: #DDD;
    }


.tilt-maker p {
  width: 500px;
}

.tilt-maker .board {
  font-size: 150%;
}

.tilt-maker .controls {
  padding: 1em;
}

.tilt-maker pre {
  overflow: scroll;
  max-height: 80%;
  padding: 1em;
  border: 1px solid #CCC;
}

.tilt-maker .tabs {
    background-color: #CCC;
    color: black;
    margin-bottom: 1em;
}

.tilt-maker .tab {
    display: table-cell;
    padding: 1em;
    cursor: pointer;
}
    .tilt-maker .tab:hover {
        background-color: #AAA;
        color: #EEE;
    }

    .tilt-maker .tab.active {
        background-color: #888;
        color: #EEE;
    }

.tilt-maker .badge {
    background-color: #777;
    border-radius: 50%;
    padding: 0 .25em;
    color: white;
    font-size: 12px;
}


.path-part {
    display: table-cell;
}

    .path-part .direction {
        width: 1.25em;
        font-size: 300%;
        text-align: center;
    }
